
<body>
    <div class="container">

        <div class="header">
            <div class="header_logo">
                <a href="#">
                    <img src="/assets/img/Logo GAME MANIA.svg" alt="">
                </a>
            </div>
            <div class="header_main">
                <div class="header_inf">
                    <div class="header_inf_links">
                        <a href="#">O que procura?</a>
                        <a href="#">Ofertas</a>
                        <a href="#">Lançamentos</a>
                    </div>
                    <div class="header_inf_profile">
                        <a href="#">Minhas compras</a>
                        <div class="header_profile">
                        </div>
                    </div>
                </div>
                <div class="header_search">
                    <input type="search" placeholder="Encontre Aqui">
                </div>
            </div>
        </div>


        <div class="page_games">
            <div class="block">
                <div class="catalog-filter">
                    <p>Filtros</p>
                    <div class="filter">
                        <div class="filter-genres">
                            <p>Generos </p>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>RPG</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Indies</p>
                                </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Casual</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>ММО</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox" checked>
                                <p>Aventura</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Simuladores</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Esportes</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Estratégia</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox" checked>
                                <p>Ação</p>
                            </div>
                        </div>
                    </div>

                    <div class="filter">
                        <div class="filter-activation">
                            <p>Ativação </p>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Bethesda.net</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>ElderScrollsOnline.com</p>
                                </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Epic Games Store</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>GOG.com</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Steam</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Origin</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Rockstar</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Uplay</p>
                            </div>
                        </div>
                    </div>

                    <div class="filter">
                        <div class="filter-language">
                            <p>Idioma</p>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Português</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Inglês</p>
                            </div>

                            <div class="filter-checkbox">
                                <input type="checkbox">
                                <p>Espanhol</p>
                            </div>

                        </div>
                    </div>

                </div>
        </div>

            <div class="catalog-games">

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="/assets/img/Elden Ring.jpg" alt="">
                        <div class="name_game">
                        <h2>Elden Ring</h2>
                        </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 500,00</p>
                                </div>
                            <div class="sale">
                                <p>-15%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/LEuBCcl.jpg" alt="">
                        <div class="name_game">
                            <h2>Grand Theft Auto V</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 150,00</p>
                                </div>
                            <div class="sale">
                                <p>-50%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/2usyqft.jpg" alt="">
                        <div class="name_game">
                            <h2>Red Dead Redemption 2</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 199,00</p>
                                </div>
                            <div class="sale">
                                <p>-20%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/NnyduA4.jpg" alt="">
                        <div class="name_game">
                            <h2>Borderlands The Pre-Sequel</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 100,00</p>
                                </div>
                            <div class="sale">
                                <p>-75%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/Elub5tC.jpg" alt="">
                        <div class="name_game">
                            <h2>Rainbow Six Siege</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 150,00</p>
                                </div>
                            <div class="sale">
                                <p>-60%</p>
                            </div>
                        </div>
                    </a>

                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/njFCfOe.jpg" alt="">
                        <div class="name_game">
                            <h2>The Witcher Wild Hunt</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 100,00</p>
                                </div>
                            <div class="sale">
                                <p>-5%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/2OxpUL9.jpg" alt="">
                        <div class="name_game">
                            <h2>The Elder Scrolls 3 Morrowind</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 50,00</p>
                                </div>
                            <div class="sale">
                                <p>-65%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/sxjK9fu.jpg" alt="">
                        <div class="name_game">
                            <h2>Dark Souls 2</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 100,00</p>
                                </div>
                            <div class="sale">
                                <p>-75%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/HMV3D9z.jpg" alt="">
                        <div class="name_game">
                            <h2>Underworld Ascendant</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 100,00</p>
                                </div>
                            <div class="sale">
                                <p>-15%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/ZoANjFc.jpg" alt="">
                        <div class="name_game">
                            <h2>Might And Magic Legacy X</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 50,00</p>
                                </div>
                            <div class="sale">
                                <p>-95%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/oJaB04b.jpg" alt="">
                        <div class="name_game">
                            <h2>Shadow The Tomb Raider</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 50,00</p>
                                </div>
                            <div class="sale">
                                <p>-15%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/THQS50k.jpg" alt="">
                        <div class="name_game">
                            <h2>Darksiders 3</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 100,00</p>
                                </div>
                            <div class="sale">
                                <p>-65%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/ctkYNLk.jpg" alt="">
                        <div class="name_game">
                            <h2>Batman: Arkham Origins</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 25,00</p>
                                </div>
                            <div class="sale">
                                <p>-80%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/5IXR5G5.jpg" alt="">
                        <div class="name_game">
                            <h2>ARK: Survival Evolved</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 25,00</p>
                                </div>
                            <div class="sale">
                                <p>-65%</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="game">
                    <a href="#">
                        <div class="game_img">
                        <img src="https://i.imgur.com/KRKI9mk.jpg" alt="">
                        <div class="name_game">
                            <h2>Far Cry Primal</h2>
                            </div>
                    </div>
                        <div class="price">
                            <div class="money">
                            <p>R$ 25,00</p>
                                </div>
                            <div class="sale">
                                <p>-80%</p>
                            </div>
                        </div>
                    </a>
                </div>
                    <div class="button">
                    <button class="catalog-btn">Mostre mais</button>
                 </div>
            </div>
        </div>
        <div class="footer">
            <div class="prava">
                <p>Todas as chaves vendidas são adquiridas de distribuidores e editores autorizados.
                </p>
            </div>
            <div class="pay-systems">
                <img src="https://i.imgur.com/XLD08Wt.png" alt="">
            </div>
            <p>Game Mania©2022</p>
        </div>
    </div>
</body>

