<header>
  <div class="container-grid">
    <form>
      <input type="text">
      <button>Pesquisar</button>
    </form>
    <a href="index.html"> <img class="Logo" src="/assets/img/New Game Mania 1.svg" alt="Logo Game Mania"></a>
    <nav id="menu" class="menu">
      <a routerLink="loja">Loja</a>
      <a routerLink="carrinho">Carrinho</a>
      <a routerLink="contato">Contato</a>
      <a routerLink="login">Login</a>
    </nav>
    <!-- <a href="#" id="barras" class="barras-cabecalho" onclick="mostrarmenu()"><img src="img/bars-solid.svg"alt="ícone de barras do cabecalho"></a>  -->
    <a href="#" id="barras-cabecalho"><img class="barras-cabecalho" src="/assets/img/bars-solid cinza.png" alt="imagem barras"></a>
  </div>
</header>
