<footer class="rodape">
  <div class="headsrodape">
    <h1>Conheça-nos Saiba mais </h1>
    <h2>Sobre a Game Mania </h2>
    <h3>Trabalhe conosco Conteúdo adicional</h3>
    <h4>©2021 Game Mania , INC. TODOS OS DIREITOS RESERVADOS.</h4>
    <h5>Todas as marcas registradas mencionadas são de propriedade de seus respectivos donos.</h5>
    <h6>PRIVACIDADE LEGAL TERMOS POLÍTICA DE COOKIES CONFIGURAÇÕES DE COOKIES</h6>
    <form action="">
      <input id="campo-email" type="email" placeholder="E-mail" required>
      <button onclick="cadastroemail()">Cadastrar</button>
    </form>
  </div>
</footer>
